@import '_functions';
@import '_reset';
@import '_form';

:root {
  --prime: #151515;
  --opposite: #fff;
  --active: #775A35;
}

body{
  background: var(--prime);
  color: var(--opposite);
}

a{
  &:hover{
    text-decoration: none;
  }
}

main{
  position: relative;
  background: url('@/assets/img/bg-vector.png') no-repeat center top;
  min-height: 100vh;
}

.container{
  max-width: 1400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media(min-width:1200px){
    padding-left: 30px;
    padding-right: 30px;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.title{
  font-weight: 700;
  font-size: clamp(28px, 2.7cqi, 70px);
  line-height: 1.2;
  color: var(--opposite);
  margin-bottom: 15px;
  span{
    color: #775A35;
    font-size: 80%;
  }
  &-center{
    text-align: center;
  }
}

.btn {
  background: var(--active);
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  color: var(--opposite);
  text-decoration: none;
  padding: 15px 30px;
  &:hover {
    background: var(--prime);
  }
  &-visit{
    border: none;
    display: block;
    padding: 15px 20px;
    background: var(--active);
    border-radius: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
    width: 200px;
    margin-top: 15px;
    transition: .3s ease;
    &:hover{
      background: #414141;
      color: #fff;
    }
  }
}